---
layout: page
require_lightgallery: true
defaultOptions:
  thumbBuilder: defaultThumb
  margin: 0px
  thumbWidth: 184px
  thumbHeight: 230px
  backgroundSize: cover
  backgroundPosition: center
  containerAlign: center
  lightgalleryParams:
    preload: 3
    speed: 0
    download: false
    autoplay: false
    thumbnail: true
    exThumbImage: href
    toogleThumb: true
    showThumbByDefault: true
    subHtmlSelectorRelative: true
---

<script src="js/jquery.min.js"></script>

<script src="js/lightgallery.min.js"></script>
<script src="js/lg-thumbnail.min.js"></script>
<script src="js/lg-fullscreen.min.js"></script>
<script src="js/lg-autoplay.min.js"></script>

<script type="text/javascript">
  let defaultOptions = {{layout.defaultOptions | jsonify}};
  let pageOptions = {{page.gallery | jsonify}};
  // override layout with page options
  let galleryData = $.extend(deep=true, {}, defaultOptions, pageOptions);
</script>

{{content}}
